# Groupby / apply

    - groupby -> lo usamos para agrupar por valores de una o varias columnas, lo usamos para entender nuestros datos y poder buscar patrones

In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv("../files/rating-and-performance.csv", index_col=0)
df.head()

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,50,Livraison standard,4,0,34,50,1.0,Quantité limitée !,CN,zgrdejia,zgrdejia,(568 notes),568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,50,Livraison standard,2,0,41,50,1.0,Quantité limitée !,CN,SaraHouse,sarahouse,"83 % avis positifs (17,752 notes)",17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,5.0,4.0,2.0,0.0,3.0,0,0,0,0,"Summer,cardigan,women beachwear,chiffon,Sexy w...",leopardprint,XS,1,Livraison standard,3,0,36,50,1.0,Quantité limitée !,CN,hxt520,hxt520,86 % avis positifs (295 notes),295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,295.0,119.0,87.0,42.0,36.0,0,0,0,0,"Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...",black,M,50,Livraison standard,2,0,41,50,NaN,NaN,CN,allenfan,allenfan,"(23,832 notes)",23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,6.0,4.0,2.0,2.0,6.0,0,0,0,0,"Summer,Plus Size,Lace,Casual pants,Bottom,pant...",yellow,S,1,Livraison standard,1,0,35,50,1.0,Quantité limitée !,CN,youngpeopleshop,happyhorses,"85 % avis positifs (14,482 notes)",14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1573 entries, 0 to 1572
Data columns (total 43 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         1573 non-null   object
 1   title_orig                    1573 non-null   object
 2   price                         1573 non-null   float64
 3   retail_price                  1573 non-null   int64
 4   currency_buyer                1573 non-null   object
 5   units_sold                    1573 non-null   int64
 6   uses_ad_boosts                1573 non-null   int64
 7   rating                        1573 non-null   float64
 8   rating_count                  1573 non-null   int64
 9   rating_five_count             1528 non-null   float64
 10  rating_four_count             1528 non-null   float64
 11  rating_three_count            1528 non-null   float64
 12  rating_two_count              1528 non-null   float64
 13  rating_one_count              1528 non-null   float64
 14  badges_count                  1573 non-null   int64
 15  badge_local_product           1573 non-null   int64
 16  badge_product_quality         1573 non-null   int64
 17  badge_fast_shipping           1573 non-null   int64
 18  tags                          1573 non-null   object
 19  product_color                 1532 non-null   object
 20  product_variation_size_id     1559 non-null   object
 21  product_variation_inventory   1573 non-null   int64
 22  shipping_option_name          1573 non-null   object
 23  shipping_option_price         1573 non-null   int64
 24  shipping_is_express           1573 non-null   int64
 25  countries_shipped_to          1573 non-null   int64
 26  inventory_total               1573 non-null   int64
 27  has_urgency_banner            473 non-null    float64
 28  urgency_text                  473 non-null    object
 29  origin_country                1556 non-null   object
 30  merchant_title                1573 non-null   object
 31  merchant_name                 1569 non-null   object
 32  merchant_info_subtitle        1572 non-null   object
 33  merchant_rating_count         1573 non-null   int64
 34  merchant_rating               1573 non-null   float64
 35  merchant_id                   1573 non-null   object
 36  merchant_has_profile_picture  1573 non-null   int64
 37  merchant_profile_picture      226 non-null    object
 38  product_url                   1573 non-null   object
 39  product_picture               1573 non-null   object
 40  product_id                    1573 non-null   object
 41  theme                         1573 non-null   object
 42  crawl_month                   1573 non-null   object
dtypes: float64(9), int64(15), object(19)
memory usage: 540.7+ KB

In [35]:
df.groupby("origin_country")["price"].mean().reset_index().sort_values(by="price", ascending=False)

  origin_country     price
4             US  9.397097
2             GB  9.000000
1             CN  8.341629
5             VE  8.298000
0             AT  7.000000
3             SG  3.380000

In [ ]:
df.groupby("origin_country")["price"].mean().reset_index()

  origin_country     price
0             AT  7.000000
1             CN  8.341629
2             GB  9.000000
3             SG  3.380000
4             US  9.397097
5             VE  8.298000

In [39]:
df.groupby("origin_country")["price"].agg(["mean", "max", "min", "count"])

                    mean    max   min  count
origin_country
AT              7.000000   7.00  7.00      1
CN              8.341629  49.00  1.00   1516
GB              9.000000   9.00  9.00      1
SG              3.380000   3.93  2.83      2
US              9.397097  16.00  1.67     31
VE              8.298000  16.00  4.83      5

In [43]:
df.groupby("origin_country").agg({"price":["min", "max"], "retail_price":["min","max"]}).reset_index()

  origin_country price        retail_price
                   min    max          min  max
0             AT  7.00   7.00            6    6
1             CN  1.00  49.00            1  252
2             GB  9.00   9.00            8    8
3             SG  2.83   3.93            3    4
4             US  1.67  16.00            2   84
5             VE  4.83  16.00           10   51

In [44]:
df.groupby("origin_country").agg({"price":["min", "max"]}).reset_index()

  origin_country price
                   min    max
0             AT  7.00   7.00
1             CN  1.00  49.00
2             GB  9.00   9.00
3             SG  2.83   3.93
4             US  1.67  16.00
5             VE  4.83  16.00

In [46]:
df.groupby("origin_country")["price"].agg(["min", "max"]).reset_index()

  origin_country   min    max
0             AT  7.00   7.00
1             CN  1.00  49.00
2             GB  9.00   9.00
3             SG  2.83   3.93
4             US  1.67  16.00
5             VE  4.83  16.00

In [49]:
df.groupby("origin_country").mean(numeric_only=True)

,price,retail_price,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,product_variation_inventory,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,merchant_rating_count,merchant_rating,merchant_has_profile_picture
origin_country,,,,,,,,,,,,,,,,,,,,,,,,
AT,7.000000,6.000000,100.000000,0.000000,5.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,50.000000,2.000000,0.000000,140.000000,50.000000,NaN,0.000000,5.000000,0.000000
CN,8.341629,23.294195,4387.364776,0.432058,3.825343,899.473615,449.311141,181.937500,135.375679,63.758152,95.977582,0.106201,0.019129,0.074538,0.012533,33.180079,2.352902,0.002639,40.254617,49.814644,1.0,24989.861478,4.034729,0.145119
GB,9.000000,8.000000,1000.000000,1.000000,4.030000,248.000000,127.000000,59.000000,26.000000,15.000000,21.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000,0.000000,45.000000,50.000000,NaN,1722.000000,3.906504,0.000000
SG,3.380000,3.500000,10050.000000,1.000000,4.010000,876.000000,369.500000,162.000000,132.000000,73.500000,139.000000,0.000000,0.000000,0.000000,0.000000,8.000000,1.000000,0.000000,20.000000,50.000000,1.0,3791.000000,3.918755,0.000000
US,9.397097,29.612903,1405.161290,0.451613,3.800000,258.645161,128.225806,50.516129,35.387097,17.806452,26.709677,0.161290,0.000000,0.129032,0.032258,34.451613,2.516129,0.000000,49.451613,50.000000,1.0,4266.903226,4.022634,0.000000
VE,8.298000,35.400000,70.000000,1.000000,2.688000,8.400000,4.000000,0.600000,0.800000,1.600000,1.400000,0.000000,0.000000,0.000000,0.000000,21.800000,1.800000,0.000000,36.800000,50.000000,1.0,257.800000,3.771094,0.000000

In [50]:
df.head(2)

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,EUR,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,50,Livraison standard,4,0,34,50,1.0,Quantité limitée !,CN,zgrdejia,zgrdejia,(568 notes),568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.0,22,EUR,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,50,Livraison standard,2,0,41,50,1.0,Quantité limitée !,CN,SaraHouse,sarahouse,"83 % avis positifs (17,752 notes)",17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08

In [53]:
mapa = {0:"no"}

df["uses_ad_boosts"].map(mapa)

index
0        no
1       NaN
2        no
3       NaN
4       NaN
       ...
1568    NaN
1569    NaN
1570     no
1571     no
1572    NaN
Name: uses_ad_boosts, Length: 1573, dtype: object

In [54]:
df["origin_country"].unique()

array(['CN', 'US', nan, 'VE', 'AT', 'SG', 'GB'], dtype=object)

In [55]:
mapa = {"CN":"Canada"}

df["origin_country"] = df["origin_country"].replace(mapa)

In [56]:
df["origin_country"].unique()

array(['Canada', 'US', nan, 'VE', 'AT', 'SG', 'GB'], dtype=object)

In [ ]:
mapa = {"AT":"xxxxxxxxxxxxxxxxxxxxT"}

df["origin_country"] = df["origin_country"].str.replace("A", "xxxxxxxxxxxxxx")

In [61]:
df["origin_country"].unique()

array(['Canada', 'US', nan, 'VE', 'xxxxxxxxxxxxxxT', 'SG', 'GB'],
      dtype=object)

In [63]:
lista = ['CN', 'US', "nan", 'VE', 'AT', 'SG', 'GB']

pais = "CN"

In [64]:
def minus(dato):

    print(dato.lower())

In [65]:
minus(pais)

cn

In [66]:
for ele in lista:

    minus(ele)

cn
us
nan
ve
at
sg
gb

In [69]:
def minus_2(dato):

    try:

        return dato.lower()
    
    except:
        return "no data"

In [71]:
df["country_2"] = df["origin_country"].apply(minus_2)

In [76]:
df[["country_2", "origin_country"]].sample(20)

      country_2 origin_country
index
1244    no data            NaN
1246     canada         Canada
1261     canada         Canada
1296    no data            NaN
38       canada         Canada
841      canada         Canada
498     no data            NaN
1429     canada         Canada
1301     canada         Canada
332      canada         Canada
159          us             US
1218     canada         Canada
780      canada         Canada
421      canada         Canada
1383     canada         Canada
869      canada         Canada
1282         us             US
1396     canada         Canada
823      canada         Canada
143      canada         Canada

In [87]:
valor = "20567,56$"
valor_2 = "cuatro"

In [90]:
import numpy as np

In [91]:
def cambio(dato):

    try:

        return float(dato.replace(",", ".").replace("$", ""))
    
    except:

        return np.nan

In [93]:
cambio(valor)

20567.56

In [ ]:
df["rate1"] = df["rate1"].apply(cambio)
df["rate2"] = df["rate2"].apply(cambio)

In [ ]:
lista_col = ["rate1", "rate2", ...]

for col in lista_col:

    df[col] = df[col].apply(cambio)