# Pair Unión y Limpieza de Datos


### Ejercicios Unión de Datos

Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.

Hoy tenemos un dataset nuevo, en este encontraremos las siguientes columnas:

-GDP: Producto Interno Bruto, el valor total de bienes y servicios producidos en el país.

-Gross primary education enrollment (%): Tasa bruta de matriculación en educación primaria.

-Gross tertiary education enrollment (%): Tasa bruta de matriculación en educación terciaria.

-Infant mortality: Número de muertes por cada 1,000 nacidos vivos antes de cumplir un año de edad.

-Largest city: Nombre de la ciudad más grande del país.

-Life expectancy: Número promedio de años que se espera que viva un recién nacido.

-Maternal mortality ratio: Número de muertes maternas por cada 100,000 nacidos vivos.

-Minimum wage: Nivel de salario mínimo en moneda local.

-Official language: Idioma(s) oficial(es) hablado(s) en el país.

-Out of pocket health expenditure: Porcentaje del gasto total en salud pagado directamente por individuos.

-Physicians per thousand: Número de médicos por cada mil personas.

-Population: Población total del país.

-Population: Labor force participation (%): Porcentaje de la población que forma parte de la fuerza laboral.

-Tax revenue (%): Ingresos fiscales como porcentaje del PIB.

-Total tax rate: Carga fiscal total como porcentaje de las ganancias comerciales.

-Unemployment rate: Porcentaje de la fuerza laboral que está desempleada.

-Urban_population: Porcentaje de la población que vive en áreas urbanas.

-coordinates: Coordenadas de latitud y longitud de la ubicación del país.

-country: Nombre del país.

Tienes a tu disposición dos conjuntos de datos, "world-data-2023-part1.csv" y "world-data-2023-part2.csv", que contienen información de una serie de indicadores y datos de distintos países. Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.

Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

Asegúrate de realizar los siguientes pasos:

-Explora y carga ambos conjuntos de datos en pandas DataFrames.

-Identifica las columnas comunes entre los dos conjuntos de datos.

-Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

-Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

### Ejercicios de Limpieza

-Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

-Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

--No tengan espacios.

--Estén en minúscula.

--No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

-Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

-Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

-La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

-Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

-Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

-Guarda el DataFrame para usarlo en el pairprogramming de mañana.

### Ejercicios de Filtrado

-Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

-Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

-Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

-Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

-Encuentra los países cuyatasa de fertilidad sea mayor a 6.

-Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

-Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df1 = pd.read_csv("world-data-2023_part1.csv", index_col = 0)
df2 = pd.read_csv("world-data-2023_part2.csv", index_col = 0)

In [3]:
df1.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36

In [4]:
df2.head(2)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [5]:
df_final = pd.concat([df1,df2], axis=1)

In [6]:
df_final.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

In [7]:
df_final.shape

(195, 35)

# Ejercicios de limpieza

In [10]:
# 1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas. 
df_final.drop("country", axis = 1, inplace = True)
df_final.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"

In [11]:
# 2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que: 

columnas = df_final.columns
nuevas_columnas = {col: col.split("(")[0].strip().replace(" ", "_").replace("\n", "").replace(":", "").lower() for col in columnas}
df_final.rename(columns=nuevas_columnas, inplace = True)

In [12]:
df_final.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"

In [13]:
# Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates. 
df_final[["latitude", "longitude"]] = df_final["coordinates"].str.split(",", expand = True)
df_final.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,coordinates,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",('33.93911 ','67.709953')
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",('42.506285 ','1.521801')
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')",('-11.202692 ','17.873887')

In [14]:
df_final["latitude"] = df_final["latitude"].str.replace("(", "").str.replace("'", "")
df_final["longitude"] = df_final["longitude"].str.replace(")", "").str.replace("'", "")

In [15]:
df_final.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,coordinates,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",33.93911,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')",-11.202692,17.873887

In [16]:
df_final.drop("coordinates", axis = 1, inplace = True)
df_final.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [17]:
# Elimina los "%" de los valores de las columnas. 
reemplazar = ["unemployment_rate", "total_tax_rate", "tax_revenue", "population_labor_force_participation", "out_of_pocket_health_expenditure", "gross_tertiary_education_enrollment", "gross_primary_education_enrollment", "forested_area", "cpi_change",   "agricultural_land"]

for col in reemplazar: 
    df_final[col] = df_final[col].str.replace("%", "")

In [18]:
df_final.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,$0.70,"$19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953

In [19]:
# 5. Haz lo mismo para las columnas de `gasoline_price`, `gdp`, `minimum_wage`, pero eliminando "$". 
reemplazar2 = ["gasoline_price", "gdp", "minimum_wage"]

for col in reemplazar2:
    df_final[col] = df_final[col].str.replace("$", "")

In [20]:
df_final.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",-11.202692,17.873887

In [21]:
df_final.to_csv("files/world_data_full.csv")

# Ejercicio de Filtrado

In [22]:
# 1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.
df_final[df_final["infant_mortality"].between(40,50)]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953
26,Burkina Faso,76,BF,44.20,"274,200","11,000",37.93,226.0,Ouagadougou,"3,418",106.58,-3.20,XOF,5.19,19.30,0.98,"15,745,810,235",96.10,6.50,49.0,Ouagadougou,61.2,320.0,0.34,French,36.10,0.08,"20,321,378",66.40,15.00,41.30,6.26,"6,092,349",12.238333,-1.561593
27,Burundi,463,BI,79.20,"27,830","31,000",39.01,257.0,Bujumbura,495,182.11,-0.70,BIF,5.41,10.90,1.21,"3,012,334,882",121.40,6.10,41.0,Bujumbura,61.2,548.0,NaN,Kirundi,19.10,0.10,"11,530,580",79.20,13.60,41.20,1.43,"1,541,177",-3.373056,29.918886
47,Djibouti,43,DJ,73.40,"23,200","13,000",21.47,253.0,Djibouti City,620,120.25,3.30,DJF,2.73,0.20,1.32,"3,318,716,359",75.30,5.30,49.8,Djibouti City,66.6,248.0,NaN,French,20.40,0.22,"973,560",60.20,NaN,37.90,10.30,"758,549",11.825138,42.590275
72,Haiti,414,HT,66.80,"27,750",0,24.35,509.0,Port-au-Prince,"2,978",179.29,12.50,HTG,2.94,3.50,0.81,"8,498,981,821",113.60,1.10,49.5,Port-au-Prince,63.7,480.0,0.25,French,36.30,0.23,"11,263,077",67.20,NaN,42.70,13.78,"6,328,948",18.971187,-72.285215
89,Kiribati,147,KI,42.00,811,NaN,27.89,686.0,South Tarawa,66,99.55,0.60,AUD,3.57,15.00,NaN,"194,647,202",101.30,NaN,41.2,South Tarawa,68.1,92.0,NaN,English,0.20,0.20,"117,606",NaN,22.00,32.70,NaN,"64,489",1.8368976,-157.3768317
125,Niger,19,NE,36.10,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.50,XOF,6.91,0.90,0.88,"12,928,145,120",74.70,4.40,48.0,Niamey,62.0,509.0,0.29,French,52.30,0.04,"23,310,715",72.00,11.80,47.20,0.47,"3,850,231",17.607789,8.081666
166,Sudan,25,SD,28.70,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000","1,344.19",51.00,SDG,4.41,8.10,0.95,"18,902,284,476",76.80,16.90,42.1,Omdurman,65.1,295.0,0.41,Arabic,63.20,0.26,"42,813,238",48.40,8.00,45.40,16.53,"14,957,233",12.862807,30.217636
175,Togo,152,TG,70.20,"56,785","10,000",33.11,228.0,Lom�,"3,000",113.3,0.70,XOF,4.32,3.10,0.71,"5,459,979,417",123.80,14.50,47.4,Lom�,60.8,396.0,0.34,French,51.00,0.08,"8,082,366",77.60,16.90,48.20,2.04,"3,414,638",8.619543,0.824782
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",-13.133897,27.849332

In [23]:
# 2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 3 y su esperanza de vida es mayor de 75 años.
condicion1 = df_final["birth_rate"] >= 20
condicion2 = df_final["life_expectancy"] > 75
df_final[condicion1 & condicion2]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
74,Honduras,89,HN,28.90,"112,090","23,000",21.60,504.0,Tegucigalpa,"9,813",150.34,4.40,HNL,2.46,40.00,0.98,"25,095,395,475",91.50,26.20,15.1,Tegucigalpa,75.1,65.0,1.01,Spanish,49.10,0.31,"9,746,117",68.80,17.30,39.10,5.39,"5,626,433",15.199999,-86.241905
82,Israel,400,IL,24.60,"20,770","178,000",20.80,972.0,Jerusalem,"65,166",108.15,0.80,ILS,3.09,7.70,1.57,"395,098,666,122",104.90,63.40,3.0,Jerusalem,82.8,3.0,7.58,Hebrew,24.40,4.62,"9,053,300",64.00,23.10,25.30,3.86,"8,374,393",31.046051,34.851612

In [24]:
# 3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.
df_final[df_final["country"].str.contains("la")]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",-11.202692,17.873887
13,Bangladesh,"1,265",BD,70.60,"148,460","221,000",18.18,880.0,Dhaka,"84,246",179.68,5.60,BDT,2.04,11.00,1.12,"302,571,254,131",116.50,20.60,25.1,Dhaka,72.3,173.0,0.51,Bengali,71.80,0.58,"167,310,838",59.00,8.80,33.40,4.19,"60,987,417",23.684994,90.356331
15,Belarus,47,BY,42.00,"207,600","155,000",9.90,375.0,Minsk,"58,280",NaN,5.60,BYN,1.45,42.60,0.60,"63,080,457,023",100.50,87.40,2.6,Minsk,74.2,2.0,1.49,Russian,34.50,5.19,"9,466,856",64.10,14.70,53.30,4.59,"7,482,982",53.709807,27.953389
59,Finland,18,FI,7.50,"338,145","25,000",8.60,358.0,Helsinki,"45,871",112.33,1.00,EUR,1.41,73.10,1.45,"268,761,201,365",100.20,88.20,1.4,Helsinki,81.7,3.0,NaN,Swedish,19.90,3.81,"5,520,314",59.10,20.80,36.60,6.59,"4,716,888",61.92411,25.748151
68,Guatemala,167,GT,36.00,"108,889","43,000",24.56,502.0,Guatemala City,"16,777",142.92,3.70,GTQ,2.87,32.70,0.79,"76,710,385,880",101.90,21.80,22.1,Guatemala City,74.1,95.0,1.60,Spanish,55.80,0.35,"16,604,026",62.30,10.60,35.20,2.46,"8,540,945",15.783471,-90.230759
76,Iceland,3,IS,18.70,"103,000",0,12.00,354.0,Reykjav��,"2,065",129,3.00,ISK,1.71,0.50,1.69,"24,188,035,739",100.40,71.80,1.5,Reykjav��,82.7,4.0,NaN,Icelandic,17.00,4.08,"361,313",75.00,23.30,31.90,2.84,"339,110",64.963051,-19.020835
81,Republic of Ireland,72,NaN,64.50,"70,273","9,000",12.50,353.0,Dublin,"37,711",106.58,0.90,EUR,1.75,11.00,1.37,"388,698,711,348",100.90,77.80,3.1,Connacht,82.3,5.0,10.79,Irish,15.20,3.31,"5,007,069",62.10,18.30,26.10,4.93,"3,133,123",53.41291,-8.24389
102,Malawi,203,MW,61.40,"118,484","15,000",34.12,265.0,Lilongwe,"1,298",418.34,9.40,MWK,4.21,33.20,1.15,"7,666,704,427",142.50,0.80,35.3,Lilongwe,63.8,349.0,0.12,English,11.00,0.04,"18,628,747",76.70,17.30,34.50,5.65,"3,199,301",-13.254308,34.301525
103,Malaysia,99,MY,26.30,"329,847","136,000",16.75,60.0,Kuala Lumpur,"248,289",121.46,0.70,MYR,2.00,67.60,0.45,"364,701,517,788",105.30,45.10,6.7,Johor Bahru,76.0,29.0,0.93,Malaysian language,36.70,1.51,"32,447,385",64.30,12.00,38.70,3.32,"24,475,766",4.210484,101.975766
107,Marshall Islands,329,MH,63.90,181,NaN,29.03,692.0,Majuro,143,NaN,NaN,USD,4.05,70.20,1.44,"221,278,000",84.70,23.70,27.4,Majuro,65.2,NaN,2.00,Marshallese,10.00,0.42,"58,791",NaN,17.80,65.90,NaN,"45,514",7.131474,171.184478
122,Netherlands,508,NL,53.30,"41,543","41,000",9.70,31.0,Amsterdam,"170,780",115.91,2.60,NaN,1.59,11.20,1.68,"909,070,395,161",104.20,85.00,3.3,Amsterdam,81.8,5.0,10.29,Dutch,12.30,3.61,"17,332,850",63.60,23.00,41.20,3.20,"15,924,729",52.132633,5.291266
123,New Zealand,18,NZ,40.50,"268,838","9,000",11.98,64.0,Wellington,"34,382",114.24,1.60,NZD,1.71,38.60,1.40,"206,928,765,544",100.00,82.00,4.7,Auckland,81.9,9.0,11.49,English,12.60,3.59,"4,841,000",69.90,29.00,34.60,4.07,"4,258,860",-40.900557,174.885971
132,Palau,39,PW,10.90,459,NaN,14.00,680.0,Ngerulmud,224,118.17,1.30,USD,2.21,87.60,NaN,"283,994,900",112.60,54.70,16.6,Koror,69.1,NaN,3.00,English,21.80,1.18,"18,233",NaN,21.30,76.60,NaN,"14,491",7.51498,134.58252
139,Poland,124,PL,46.90,"312,685","191,000",10.20,48.0,Warsaw,"299,037",114.11,2.20,PLN,1.46,30.90,1.07,"592,164,400,688",100.00,67.80,3.8,Warsaw,77.6,2.0,2.93,Polish,23.20,2.38,"37,970,874",56.70,17.40,40.80,3.47,"22,796,574",51.919438,19.145136
159,Solomon Islands,25,SB,3.90,"28,896",NaN,32.44,677.0,Honiara,169,133.06,1.60,SBD,4.40,77.90,NaN,"1,425,074,226",106.20,NaN,17.1,Honiara,72.8,104.0,0.40,English,3.30,0.19,"669,823",83.80,29.50,32.00,0.58,"162,164",-9.64571,160.156194
169,Switzerland,219,CH,38.40,"41,277","21,000",10.00,41.0,Bern,"34,477",99.55,0.40,CHF,1.52,31.80,1.45,"703,082,435,360",105.20,59.60,3.7,Z���,83.6,5.0,NaN,German,28.30,4.30,"8,574,832",68.30,10.10,28.80,4.58,"6,332,428",46.818188,8.227512
173,Thailand,137,TH,43.30,"513,120","455,000",10.34,66.0,Bangkok,"283,763",113.27,0.70,THB,1.53,32.20,0.71,"543,649,976,166",99.80,49.30,7.8,Bangkok,76.9,37.0,1.06,Thai,11.80,0.81,"69,625,582",67.30,14.90,29.50,0.75,"35,294,600",15.870032,100.992541
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,0.00,"482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,0.01,Spanish,45.80,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368",6.42375,-66.58973

In [25]:
# 4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5. 
df_final[df_final["physicians_per_thousand"] > 5]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
9,Austria,109,AT,32.40,"83,871","21,000",9.70,43.0,Vienna,"61,448",118.06,1.50,EUR,1.47,46.90,1.20,"446,314,739,528",103.10,85.10,2.9,Vienna,81.6,5.0,NaN,German,17.90,5.17,"8,877,067",60.70,25.40,51.40,4.67,"5,194,416",47.516231,14.550072
15,Belarus,47,BY,42.00,"207,600","155,000",9.90,375.0,Minsk,"58,280",NaN,5.60,BYN,1.45,42.60,0.60,"63,080,457,023",100.50,87.40,2.6,Minsk,74.2,2.0,1.49,Russian,34.50,5.19,"9,466,856",64.10,14.70,53.30,4.59,"7,482,982",53.709807,27.953389
42,Cuba,106,CU,59.90,"110,860","76,000",10.17,53.0,Havana,"28,284",NaN,NaN,CUP,1.62,31.30,1.40,"100,023,000,000",101.90,41.40,3.7,Havana,78.7,36.0,0.05,Spanish,NaN,8.42,"11,333,483",53.60,NaN,NaN,1.64,"8,739,135",21.521757,-77.781167
63,Georgia,57,GE,34.50,"69,700","26,000",13.47,995.0,Tbilisi,"10,128",133.61,4.90,GEL,2.06,40.60,0.76,"17,743,195,770",98.60,63.90,8.7,Tbilisi,73.6,25.0,0.05,Georgian,57.30,7.12,"3,720,382",68.30,21.70,9.90,14.40,"2,196,476",42.315407,43.356892
66,Greece,81,GR,47.60,"131,957","146,000",8.10,30.0,Athens,"62,434",101.87,0.20,EUR,1.35,31.70,1.54,"209,852,761,469",99.60,136.60,3.6,Macedonia,81.3,3.0,4.46,Greek,35.50,5.48,"10,716,322",51.80,26.20,51.90,17.24,"8,507,474",39.074208,21.824312
99,Lithuania,43,LT,47.20,"65,300","34,000",10.00,370.0,Vilnius,"12,963",118.38,2.30,EUR,1.63,34.80,1.16,"54,219,315,600",103.90,72.40,3.3,Vilnius,75.7,8.0,2.41,Lithuanian,32.10,6.35,"2,786,844",61.60,16.90,42.60,6.35,"1,891,013",55.169438,23.881275
113,Monaco,"26,337",MC,NaN,2,NaN,5.90,377.0,Monaco City,NaN,NaN,NaN,EUR,NaN,NaN,2.00,"7,184,844,193",NaN,NaN,2.6,Monaco City,NaN,NaN,11.72,French,6.10,6.56,"38,964",NaN,NaN,NaN,NaN,"38,964",43.7384176,7.4246158
140,Portugal,111,PT,39.50,"92,212","52,000",8.50,351.0,Lisbon,"48,742",110.62,0.30,EUR,1.38,34.60,1.54,"237,686,075,635",106.20,63.90,3.1,Lisbon,81.3,8.0,3.78,Portuguese,27.70,5.12,"10,269,417",58.80,22.80,39.80,6.33,"6,753,579",39.399872,-8.224454
149,San Marino,566,SM,16.70,61,NaN,6.80,378.0,City of San Marino,NaN,110.63,1.00,EUR,1.26,0.00,NaN,"1,637,931,034",108.10,42.50,1.7,City of San Marino,85.4,NaN,NaN,Italian,18.30,6.11,"33,860",NaN,18.10,36.20,NaN,"32,969",43.94236,12.457777
187,Uruguay,20,UY,82.60,"176,215","22,000",13.86,598.0,Montevideo,"6,766",202.92,7.90,UYU,1.97,10.70,1.50,"56,045,912,952",108.50,63.10,6.4,Montevideo,77.8,17.0,1.66,Spanish,16.20,5.05,"3,461,734",64.00,20.10,41.80,8.73,"3,303,394",-32.522779,-55.765835

In [26]:
# 5. Encuentra los países cuyatasa de fertilidad sea mayor a 4.
df_final[df_final["fertility_rate"] > 6]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
125,Niger,19,NE,36.10,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.50,XOF,6.91,0.90,0.88,"12,928,145,120",74.70,4.40,48.0,Niamey,62.0,509.0,0.29,French,52.30,0.04,"23,310,715",72.00,11.80,47.20,0.47,"3,850,231",17.607789,8.081666
160,Somalia,25,SO,70.30,"637,657","20,000",41.75,252.0,Mogadishu,645,NaN,NaN,SOS,6.07,10.00,1.41,"4,720,727,278",23.40,2.50,76.6,Bosaso,57.1,829.0,NaN,Arabic,NaN,0.02,"15,442,905",47.40,0.00,NaN,11.35,"7,034,861",5.152149,46.199616

In [27]:
# 6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.
media_natalidad = df_final["birth_rate"].mean()
condicion_natalidad = df_final["birth_rate"] > media_natalidad
condicion_monedas = df_final["currency-code"] == "EUR"

df_final[condicion_natalidad & condicion_monedas]

Empty DataFrame
Columns: [country, density, abbreviation, agricultural_land, land_area, armed_forces_size, birth_rate, calling_code, capital/major_city, co2-emissions, cpi, cpi_change, currency-code, fertility_rate, forested_area, gasoline_price, gdp, gross_primary_education_enrollment, gross_tertiary_education_enrollment, infant_mortality, largest_city, life_expectancy, maternal_mortality_ratio, minimum_wage, official_language, out_of_pocket_health_expenditure, physicians_per_thousand, population, population_labor_force_participation, tax_revenue, total_tax_rate, unemployment_rate, urban_population, latitude, longitude]
Index: []

In [28]:
# 7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70
df_final[df_final["infant_mortality"]> 70]

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
33,Central African Republic,8,CF,8.20,"622,984","8,000",35.35,236.0,Bangui,297,186.86,37.10,NaN,4.72,35.60,1.41,"2,220,307,369",102.00,3.00,84.5,Bangui,52.8,829.0,0.37,French,39.60,0.06,"4,745,185",72.00,8.60,73.30,3.68,"1,982,064",6.611111,20.939444
34,Chad,13,TD,39.70,"1,284,000","35,000",42.17,235.0,N'Djamena,"1,016",117.7,-1.00,XAF,5.75,3.80,0.78,"11,314,951,343",86.80,3.30,71.4,N'Djamena,54.0,1140.0,0.60,French,56.40,0.04,"15,946,876",70.70,NaN,63.50,1.89,"3,712,273",15.454166,18.732207
126,Nigeria,226,NG,77.70,"923,768","215,000",37.91,234.0,Abuja,"120,369",267.51,11.40,NGN,5.39,7.20,0.46,"448,120,428,859",84.70,10.20,75.7,Lagos,54.3,917.0,0.54,English,72.20,0.38,"200,963,599",52.90,1.50,34.80,8.10,"102,806,948",9.081999,8.675277
155,Sierra Leone,111,SL,54.70,"71,740","9,000",33.41,232.0,Freetown,"1,093",234.16,14.80,SLL,4.26,43.10,1.08,"3,941,474,311",112.80,2.00,78.5,Freetown,54.3,1120.0,0.57,English,38.20,0.03,"7,813,215",57.90,8.60,30.70,4.43,"3,319,366",8.460555,-11.779889
160,Somalia,25,SO,70.30,"637,657","20,000",41.75,252.0,Mogadishu,645,NaN,NaN,SOS,6.07,10.00,1.41,"4,720,727,278",23.40,2.50,76.6,Bosaso,57.1,829.0,NaN,Arabic,NaN,0.02,"15,442,905",47.40,0.00,NaN,11.35,"7,034,861",5.152149,46.199616